.card {
    
    background-image: url('https://lh3.googleusercontent.com/proxy/BMCqIzZY_2e9kWOeb88lMOfu9W_N55E4QtBf_JZqyYgCF2qfBNuIWxj6L4sL8cHLnjIJZOCOXlx7JW1KTDqTPBoa9bb44Q7pUZz_8Dxq9O4Fvaqq6g') ;
    background-size: contain;
    margin: 0.7rem;
    border-radius: 0.2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 15px;
  

	}

.imgContainer {
    height: 16rem; 
    width: 100%; 
    text-align: center;
    overflow: hidden;
	}

.img {
    width: 70%;
    height: 70%;
    margin-top: 32px;
    border-radius:15px;
	}

